@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  overflow: hidden;
  @apply antialiased;
}

#root {
  @apply flex flex-col w-screen min-h-screen overflow-hidden;
}

#drag-region {
  -webkit-app-region: drag;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #85a2e8;
  border-radius: 20px;
  border: 3px solid #85a2e8;
}

* {
  @apply focus:outline-none;
}

.root-animate {
  will-change: opacity;
}
